<ion-header [translucent]="true">
  <ion-toolbar class="cabecalho-custom">
    <ion-title>
      <div class="titulo-custom">Termas Romanas</div>
    </ion-title>
    <ion-buttons slot="start" class="botao-branco">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">termasromanas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img id="img"  src="./assets/museuagua.jpg"  />      
    <ion-card-header>
      <ion-card-title>Termas Romanas de Chaves</ion-card-title>
      <ion-card-subtitle>Uma Janela para o Passado</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Chaves, uma cidade situada no norte de Portugal, possui uma herança histórica rica que remonta aos tempos romanos. Entre os vestígios mais impressionantes desse legado estão as Termas Romanas de Chaves, um complexo arqueológico que testemunha a importância das águas termais na civilização romana.
      Datadas do século I d.C., as Termas Romanas de Chaves são um dos exemplos mais bem preservados de banhos termais romanos na Península Ibérica. Localizadas junto ao rio Tâmega, essas termas foram construídas sobre uma fonte de água quente que emergia do solo, aproveitando as propriedades terapêuticas e relaxantes das águas naturais.
      O complexo termal era composto por várias salas, cada uma destinada a diferentes atividades relacionadas ao banho e ao bem-estar. Entre essas salas, destacava-se o caldário, onde os banhistas desfrutavam das águas quentes para relaxamento e cura de doenças. Havia também salas frias e salas de massagem, complementando a experiência termal.
      Além de sua função terapêutica e recreativa, as Termas Romanas de Chaves desempenharam um papel importante na vida social e cultural da cidade. Eram pontos de encontro onde as pessoas se reuniam para conversar, relaxar e desfrutar dos benefícios das águas minerais. A arquitetura refinada e os mosaicos decorativos presentes nas termas testemunham o alto nível de civilização e sofisticação alcançado pela sociedade romana na região.
      Embora tenham perdido sua popularidade após o declínio do Império Romano, as Termas Romanas de Chaves continuam a ser um marco histórico e um testemunho do legado romano em Portugal. Hoje em dia, essas termas são um local turístico importante, onde visitantes podem explorar as ruínas e aprender sobre a fascinante história das águas termais na região.
    </ion-card-content>
  </ion-card>
</ion-content>
