ion-item {
    --padding-start: 50;
  }

.custom-card {
    width: 100%; /* Defina a largura desejada para o card */
    margin: auto; /* Centraliza o card na tela */
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 9px;
}