<ion-header [translucent]="true">
  <ion-toolbar class="cabecalho-custom">
    <ion-title>
      <div class="titulo-custom">Ponte Romana de Trajano</div>
    </ion-title>
    <ion-buttons slot="start" class="botao-branco">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ponte </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
      <img id="img"  src="./assets/ponte_romana.jpg"  />      
      <ion-card-header>
        <ion-card-title>Ponte Romana de Trajano</ion-card-title>
        <ion-card-subtitle>Um Marco da Engenharia Romana</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        A Ponte Romana de Trajano, em Chaves, Portugal, é uma impressionante estrutura histórica que remonta ao século I d.C., durante o reinado do imperador romano Trajano. Esta ponte é um testemunho duradouro da engenharia romana e tem sido um marco importante na região ao longo dos séculos. Com as suas sólidas fundações e arcos bem preservados, a Ponte Romana de Trajano não só é uma atração turística, mas também uma ligação física com o passado, transportando os visitantes através do tempo até à era do Império Romano.
      </ion-card-content>
    </ion-card>
</ion-content>
