<ion-header [translucent]="true">
  <ion-toolbar class="cabecalho-custom">
    <ion-title>
      <div class="titulo-custom">Águas Termais</div>
    </ion-title>
    <ion-buttons slot="start" class="botao-branco">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">termasatuais </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
      <img id="img"  src="./assets/aguatermal.jpg"  />      
      <ion-card-header>
        <ion-card-title>Água Termal</ion-card-title>
        <ion-card-subtitle>Uma Fonte de Renovação e Bem-Estar</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        As águas termais têm sido reverenciadas ao longo da história como uma fonte de cura, relaxamento e rejuvenescimento. Desde os tempos antigos, as civilizações têm valorizado os benefícios terapêuticos das águas minerais naturais, criando complexos de banhos e spas para aproveitar essas propriedades.
        As águas termais são ricas em minerais como enxofre, cálcio e magnésio, que são conhecidos por seus efeitos benéficos para a saúde. Estudos científicos têm demonstrado que esses minerais podem ajudar a aliviar dores musculares e articulares, melhorar a circulação sanguínea e promover a saúde da pele.
        Além dos benefícios físicos, as águas termais também têm um impacto positivo no bem-estar emocional e mental. Muitas pessoas relatam uma sensação de relaxamento profundo ao mergulhar em águas termais, o que pode ajudar a reduzir o stress e promover uma sensação de calma e equilíbrio interior.
        Os spas e resorts termais ao redor do mundo capitalizam esses benefícios, oferecendo uma variedade de tratamentos e terapias baseados em águas termais. Desde banhos em piscinas termais até massagens com óleos minerais, esses locais proporcionam uma experiência completa de renovação e revitalização para o corpo e a mente.
        Além disso, muitas comunidades locais têm orgulho de suas fontes termais e as incorporam em sua cultura e tradições. Festivais, celebrações e eventos são frequentemente realizados em torno das águas termais, destacando sua importância como um recurso natural valioso e uma fonte de saúde e felicidade para todos.
        Em um mundo cada vez mais agitado e stressante, as águas termais continuam a oferecer um refúgio de tranquilidade e cura. Seja em antigos complexos romanos ou modernos spas de luxo, a busca pelo bem-estar físico e emocional continua a impulsionar o interesse e a apreciação pelas maravilhas das águas termais.
      </ion-card-content>
    </ion-card>
</ion-content>
