<ion-header [translucent]="true">
  <ion-toolbar class="cabecalho-custom">
    <ion-title>
      <div class="titulo-custom">Castelo de Chaves</div>
    </ion-title>
    <ion-buttons slot="start" class="botao-branco">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">castelo </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
      <img id="img"  src="./assets/castelo.jpg"  />      
      <ion-card-header>
        <ion-card-title>Castelo de Chaves</ion-card-title>
        <ion-card-subtitle>Guardião das Fronteiras: O Castelo Medieval de Chaves</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        O Castelo de Chaves, localizado na cidade de Chaves, Portugal, é uma fortificação de origem medieval que desempenhou um papel importante ao longo da história da região. Originalmente construído pelos romanos no século II d.C., foi posteriormente ampliado e fortificado pelos visigodos e pelos muçulmanos. No entanto, foi durante a Idade Média que o castelo assumiu a forma que conhecemos hoje, com suas imponentes muralhas e torres. Durante séculos, o Castelo de Chaves foi uma peça chave na defesa da fronteira entre Portugal e Espanha, sendo palco de inúmeros conflitos e batalhas.
        Atualmente, o castelo é um importante ponto turístico da cidade, oferecendo aos visitantes a oportunidade de explorar suas muralhas, torres e vistas panorâmicas sobre a região circundante. Além disso, abriga o Museu Militar de Chaves, que conta a história militar da região através de uma coleção de artefatos e exposições. O Castelo de Chaves é, portanto, não apenas um testemunho da história rica e diversificada da cidade, mas também um símbolo de sua identidade e patrimônio cultural.
      </ion-card-content>
    </ion-card>
</ion-content>
